In [ ]:
import pandas as pd

file_path = "../data/raw/sample_data_2017_2025.xlsx"
df = pd.read_excel(file_path)

df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079 entries, 0 to 2078
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PORT CODE          2079 non-null   object
 1   DATE               2079 non-null   object
 2   IEC                2079 non-null   int64
 3   HS CODE            2079 non-null   int64
 4   GOODS DESCRIPTION  2079 non-null   object
 5   Master category    0 non-null      float64
 6   Model Name         0 non-null      float64
 7   Model Number       0 non-null      float64
 8   Capacity           0 non-null      float64
 9   Qty                0 non-null      float64
 10  Unit of measure    0 non-null      float64
 11  Price              0 non-null      float64
 12  Unit of measure.1  0 non-null      float64
 13  QUANTITY           2079 non-null   float64
 14  UNIT               2079 non-null   object
 15  UNIT PRICE_INR     2079 non-null   float64
 16  TOTAL VALUE_INR    2079 non-null   float64
 17  UNIT PRICE_USD     2079 non-null   float64
 18  TOTAL VALUE_USD    2079 non-null   float64
 19  DUTY PAID_INR      2079 non-null   float64
dtypes: float64(14), int64(2), object(4)
memory usage: 325.0+ KB

,IEC,HS CODE,Master category,Model Name,Model Number,Capacity,Qty,Unit of measure,Price,Unit of measure.1,QUANTITY,UNIT PRICE_INR,TOTAL VALUE_INR,UNIT PRICE_USD,TOTAL VALUE_USD,DUTY PAID_INR
count,2079.0,2.079000e+03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2079.000000,2079.000000,2.079000e+03,2079.000000,2079.000000,2.079000e+03
mean,301049751.0,7.323924e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10751.360948,399.147062,2.017286e+06,5.075401,25862.111099,6.878388e+05
std,0.0,2.482623e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27953.145285,236.599113,1.694160e+06,3.039812,21202.510929,6.223662e+05
min,301049751.0,7.323100e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,4.712749,1.882250e+03,0.067812,26.196938,0.000000e+00
25%,301049751.0,7.323999e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2245.000000,237.966650,7.717038e+05,2.997668,10351.823665,2.092378e+05
50%,301049751.0,7.323999e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4900.000000,435.243386,1.648069e+06,5.499288,21390.736830,5.411963e+05
75%,301049751.0,7.323999e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9510.400000,536.308613,2.838890e+06,6.763704,36720.527875,9.742361e+05
max,301049751.0,7.323999e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319248.000000,3708.390000,1.329217e+07,53.243216,159569.833700,4.870250e+06

In [ ]:
df['DATE'] = pd.to_datetime(df['DATE'], format="%Y-%m-%d", errors='coerce')

print(df.head())
df['DATE'].dt.year.unique()

  PORT CODE       DATE        IEC   HS CODE  \
0    INNSA1 2025-10-28  301049751  73239990
1    INNSA1 2025-10-28  301049751  73231000
2    INNSA1 2025-10-23  301049751  73239990
3    INNSA1 2025-10-13  301049751  73239990
4    INNSA1 2025-10-13  301049751  73239990

                                   GOODS DESCRIPTION  Master category  \
0  TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...              NaN
1  8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...              NaN
2  MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...              NaN
3  SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...              NaN
4  SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...              NaN

   Model Name  Model Number  Capacity  Qty  Unit of measure  Price  \
0         NaN           NaN       NaN  NaN              NaN    NaN
1         NaN           NaN       NaN  NaN              NaN    NaN
2         NaN           NaN       NaN  NaN              NaN    NaN
3         NaN           NaN       NaN  NaN              NaN    NaN
4         NaN           NaN       NaN  NaN              NaN    NaN

   Unit of measure.1  QUANTITY UNIT  UNIT PRICE_INR  TOTAL VALUE_INR  \
0                NaN     290.0  KGS      401.725310        116500.34
1                NaN    9800.0  KGS      440.602218       4317901.74
2                NaN    4004.0  KGS      408.893664       1637210.23
3                NaN    1548.8  KGS      378.457845        586155.51
4                NaN   10042.2  KGS      399.739675       4014265.76

   UNIT PRICE_USD  TOTAL VALUE_USD  DUTY PAID_INR
0        4.529034      1313.419842        32736.6
1        4.967331     48679.839230      1898149.5
2        4.609850     18457.837993       460056.0
3        4.219151      6534.621070       164709.7
4        4.456407     44752.126644      1128008.7

array([2025, 2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017], dtype=int32)

In [ ]:
df['UNIT'].unique()

array(['KGS', 'NOS', 'PCS', 'KGS ', 'KG', 'SET'], dtype=object)

In [ ]:
df['GOODS DESCRIPTION'].sample(10)

563     STEEL LUNCH BOX (6588) (QTY: 1200 NOS/USD 2.45...
1103    STEEL TEA STRAINER BIG - SB-12 (QTY:26400 PCS/...
1402    STEEL RECTANGLE CONTAINER- 6901(TOTAL 2400 PCS...
239     STEEL FRUIT BASKET (SD1078-B) (QTY: 20160 PCS/...
469     AM-393 STAINLESS STEEL SPORTS BOTTLE 750ML (QT...
1269    STEEL SCRUBBER 2PCS SET - 8001-2 (QTY-166800 S...
1587    03-027I FAMILY CLOTH RACK 3LAYERS (3648 PCS) (...
1557    STAINLESS STEEL SPORTS BOTTLE 650ML S115-NP-21...
306     MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...
2032    STEEL SCRUBBER 3PCS SET-ANGW11 (TOTAL NET WT.7...
Name: GOODS DESCRIPTION, dtype: object

In [ ]:
df[['TOTAL VALUE_INR', 'DUTY PAID_INR']].describe()

       TOTAL VALUE_INR  DUTY PAID_INR
count     2.079000e+03   2.079000e+03
mean      2.017286e+06   6.878388e+05
std       1.694160e+06   6.223662e+05
min       1.882250e+03   0.000000e+00
25%       7.717038e+05   2.092378e+05
50%       1.648069e+06   5.411963e+05
75%       2.838890e+06   9.742361e+05
max       1.329217e+07   4.870250e+06